* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    position: relative;
    height: 100vh; /* 画面の高さを100% */
    background-image: url('Background_3.jpg'); /* ここに背景画像を指定 */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
